# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# bundler
.bundle

Gemfile.lock

# For MacOS:
#
.DS_Store

# For emacs:
*~
\#*
.\#*

# For vim:
*.swp

# For rubinius:
*.rbc
.rbx

.ruby-version
