# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

Gemfile.lock

# jeweler generated
pkg

# For MacOS:
#
.DS_Store

# For emacs:
*~
\#*
.\#*

# For vim:
*.swp

# For rubinius:
*.rbc
