language: ruby
bundler_args: --without debug osx optional
script: bundle exec rake test_with_coveralls

sudo: false
cache: bundler

rvm:
  - 2.2.0
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - jruby
  - rbx-2
notifications:
  email: false
matrix:
  fast_finish: true
